{% extends "./templates/master.njk" %}

{% block title %}
  Job Management System | Kainos
{% endblock %}

{% block content %}
  <main class="flex-shrink-0 hero-section">
      <section class="col-sm-12 text-center bg-white position-relative">
        <div class="text-container">
          <h1 class="display-4 pt-3 pb-2"><em>Welcome to Kainos</em></h1>
          <p class="lead">
            <em>Digital Transformation Experts and WorkDay Partners</em>
          </p>
        </div>
        <div class="button-container col-sm-12">
          {% if isLoggedIn %}
          <td>
            <button
              id="logoutButtonIndex"
              class="btn btn-primary mt-5 btn-lg shadow-sm"
            >
              Log Out
            </button>
            {% else %}
            <a
              id="login"
              class="btn btn-primary mt-5 btn-lg shadow-sm"
              href="/login"
              >Log In</a
            >
            {% endif %}
          </td>
        </div>
      </section>
  </main>
  <section class="d-flex justify-content-center">
    <div class="container h-100 mt-5 mb-5">
      <h2 class="pb-3">Information Section</h2>
      <p>This is some information about our company.</p>
      <p>Log in to get started.</p>
    </div>
  </section>
{% endblock %}
