{% extends "./templates/master.njk" %}

{% block title %}
  View Job Roles | Kainos
{% endblock %}

{% block content %}
  <main class="flex-shrink-0">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li id="breadcrumb-home" class="breadcrumb-item breadcrumb-home">
            <a href="/">Home</a>
          </li>
          <li class="breadcrumb-item active" aria-current="/job-roles">
            Job Roles
          </li>
        </ol>
      </nav>
    </div>
    <div class="list-jobs-container container" id="jobs-container">
      <section id="jobs" class="mt-4">
        <h2 class="jobsh2">Job Roles</h2>
        {% if job and job.length > 0 %}
        <div id="job-table" class="table-responsive">
          <table class="table table-hover" id="table">
            <thead>
              <tr>
                <th scope="col">Role ID</th>
                <th scope="col">Role Name</th>
                <th scope="col">Band Level</th>
                <th scope="col">Capability Name</th>
              </tr>
            </thead>
            <tbody>
              {% for job in job %}
              <tr>
                <td>{{ job.roleID }}</td>
                <td>
                  <a id="roleName" href="/list-jobs/{{ job.roleID }}"
                    >{{ job.roleName }}</a
                  >
                </td>
                <td><a>{{ job.bandName }}</a></td>
                <td>{{ job.capabilityName }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %} There are no jobs {% endif %}
        </div>
      </section>
    </div>
  </main>
{% endblock %}