{% extends "./templates/master.njk" %}

{% block title %}
  View Capabilities | Kainos
{% endblock %}

{% block content %}
  <main class="flex-shrink-0">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li id="breadcrumb-home" class="breadcrumb-item breadcrumb-home">
            <a href="/">Home</a>
          </li>
          <li class="breadcrumb-item active" aria-current="/capability">
            Capabilities
          </li>
        </ol>
      </nav>
    </div>
    <div class="list-jobs-container container" id="jobs-container">
      <section id="jobs" class="mt-4">
        <h2 class="jobsh2">Capabilities</h2>
        {% if capability and capability.length > 0 %}
        <div id="job-table" class="table-responsive">
          <table class="table table-hover" id="table">
            <thead>
              <tr>
                <th scope="col">Capability Name</th>
                <th scope="col">Edit Capability</th>
              </tr>
            </thead>
            {% for capability in capability %}
            <tbody>
              <tr>
                <td>{{ capability.capabilityName }}</td>
                <td>
                  <a href="/edit-capability/{{ capability.capabilityID }}"
                    >Edit</a
                  >
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %} There are no capabilities {% endif %}
        </div>
      </section>
    </div>
  </main>
{% endblock %}

{% block chatbot %}
{% endblock %}